.ql-editor {
    font-family: "Roboto";
    height: 500px;
}

.ql-container .ql-snow {
    height: 500px;
}

.ql-editor p {
    font-size: 16px;
}

/* Set dropdown font-families */
.ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto";
}

.ql-font span[data-label="Roboto"]::before {
    font-family: "Roboto" !important;
}

/* Set content font-families */

.ql-font-Roboto {
    font-family: "Roboto";
}
